@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(145deg, #edf4ff, #748bbe);
  margin: 0;
  padding: 70px 0 0 0;
}

.contact-us-section {
  text-align: center;
  padding: 3rem;
  width: 100%;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 2.4rem;
  color: #29337a;
  margin-bottom: 1rem;
}

.subheading {
  color: #1F4496;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.contact-container {
  display: flex;
  flex-direction: row; /* Display side by side on larger screens */
  justify-content: space-between; /* Add space between the items */
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.contact-info {
  background-color: #274395;
  color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  width: 48%; /* Adjust width for side by side display */
}

.contact-info h2 {
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
}

.info-item {
  display: flex;
  align-items: center;
  margin-top: 8rem; /* Keeps the initial margin-top */
}

.info-item + .info-item {
  margin-top: 40px; /* Adds a 40px margin between consecutive .info-item elements */
}

.info-item img {
  margin-right: 0.5rem;
  width: 24px; 
}

.social-media {
  display: flex;
  gap: 40px; /* Increase gap between icons to 40px */
  margin-top: 400px; /* Added margin-top */
  justify-content: left; 
}

.social-icon {
  width: auto;
  height: auto;
  cursor: pointer;
}

.contact-form {
  background: white;
  padding: 2rem;
  width: 48%; /* Adjust width for side by side display */
  border-radius: 15px;
}

.contact-form .form-row {
  display: flex;
  flex-direction:row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact-form .form-group {
  flex: 1;
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #29337a;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: transparent;
  color: #1d2d60;
  border: none; /* Remove border */
  border-bottom: 1px solid #29337a; /* Add bottom border */
  border-radius: 0; /* Remove border radius */
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

.contact-form button {
  background: #29337a;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: #1d2d60;
}

/* Media Queries for Responsiveness */
/* General Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 60px 0; /* Reduce padding for mobile */
  }

  .contact-us-section {
    padding: 60px; /* Reduce padding for mobile */
  }

  .contact-container {
    flex-direction: column; /* Stack items vertically on mobile */
  }

  .contact-info, .contact-form {
    width: 100%; /* Full width on mobile */
    min-height: unset;
  }

  .contact-info h2 {
    font-size: 1.4rem;
  }

  .contact-form.form-row {
    flex-direction: column; /* Stack form inputs vertically on mobile */
  }

  .info-item {
    margin-top: 40px; /* Reduce margin-top for mobile */
  }

  .social-media {
    margin-top: 2rem; /* Reduce margin-top for mobile */
  }

  .social-icon {
    width: 100%; /* Reduce icon size for mobile */
    height: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.8rem; /* Reduce font size for mobile */
  }

  .contact-form button {
    font-size: 0.8rem; /* Reduce button font size for mobile */
    padding: 0.5rem 1rem; /* Adjust padding for mobile */
  }
}
