:root {
  color-scheme: light dark;
  background: linear-gradient(135deg, #FFFFFF 42%, #1F4496 100%);
}

.content-wrapper {
  padding: 0 15px; 
  margin: 0 auto; /* Center the content horizontally */
  max-width: calc(100% - 40px); /* Whole page width minus 20px on each side */
}

.content-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Increase padding on smaller screens */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
 .content-wrapper {
    padding: 50px; /* Double the original padding */
  }
}
