
.footer {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  color: transparent;
  margin-top: 2%;
}

.footer-banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 37%;
}

.footer-banner img {
  width: 100%;
}

.footer-bottom {
  background-color: #29337A;
  padding: 2% 0;
}

.footer-logo-small {
  height: 5%;
  margin-bottom: 1%;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1.5%;
  margin-top: 1%;
}

.social-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.footer-copyright {
  font-size: 1.4rem;
  margin-top: 1%;
  color: #fff;
}