.footer {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  color: transparent;
  justify-content: flex-end;
}

.footer-banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 8%; /* Adjusted banner height */
}

.footer-banner img {
  width: 100%;
  height: 100%; /* Stretch the image to fit the banner */
}

.footer-bottom {
  background-color: #29337A;
  padding: 0; /* Further reduced padding */
}

.footer-logo-small {
  height: 2.5%; /* Smaller logo height */
  margin-bottom: 0.2%; /* Reduced margin */
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 3%; /* Smaller gap between social icons */
  margin-top: 0.2%; /* Further reduced top margin */
}

.social-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem; /* Smaller font size for social icons */
}

.footer-copyright {
  font-size: 0.8rem; /* Smaller font size for copyright */
  margin-top: 0.2%; /* Further reduced top margin */
  color: #fff;
}
