@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.257);
  backdrop-filter: blur(5px);
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.header.scrolled {
  background-color: #426fe8;
  backdrop-filter: blur(5px);
}

.logo{
  margin-left: 50px;
}
.logo img {
  width: auto;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 20px;
}

.navigation {
  flex-grow: 1;
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #003399;
  font-weight: 550;
  font-size: 1.3rem;
  display: inline-block;
  cursor: pointer;
}

.navigation a:hover {
  color: #add8e6;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

.social-icons a {
  color: #003399;
  cursor: pointer;
}

.social-icons img {
  height: 25px;
  cursor: pointer;
}

/* Existing CSS */
.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: #003399;
}

.navigation {
  flex-grow: 1;
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

/* New CSS for Mobile Responsiveness */
@media (max-width: 768px) {
 .hamburger-menu {
    display: block;
  }

 .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%; /* Ensure it takes the full width */
    background-color: rgba(255, 255, 255, 0.478);
    backdrop-filter: blur(5px);
  }

 .navigation.active {
    display: flex;
    flex-direction: column;
  }

 .navigation a {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* Include Social Icons in the Collapsed Menu */
 .social-icons {
    display: flex;
    align-items: center;
    gap: 15px; /* Smaller gap for mobile */
    margin-bottom: 20px; /* Add some spacing before the links */
  }

 .social-icons a {
    color: #003399;
    cursor: pointer;
  }

 .social-icons img {
    height: 20px; /* Slightly smaller icon size for mobile */
    cursor: pointer;
  }
}
