@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Center align items */
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

nav{
  margin-left: 40px;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.793);
  backdrop-filter: blur(5px);
}

.logo {
  margin-left: 50px;
}

.logo img {
  width: auto;
  height: 65px; /* Large logo height */
  object-fit: cover;
  cursor: pointer;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #003399;
  font-weight: 550;
  font-size: 1.3rem;
  cursor: pointer;
}

.navigation a:hover {
  color: #add8e6;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 30px; /* Adjust gap for social icons */
}

.social-icons a {
  color: #003399;
  cursor: pointer;
}

.social-icons img {
  height: 25px;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: #003399;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navigation-container {
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100; /* Adjusted z-index */
    background-color: rgba(255, 255, 255, 0.793);
    backdrop-filter: blur(5px);
  }

  .header{
    background-color: rgba(255, 255, 255, 0.793);
  }

  .navigation-container.active {
    display: flex;
  }

  .logo img {
    height: 40px; /* Reduced logo height for small screens */
  }

  .logo {
    margin-left: 10px; /* Reduced margin */
  }

  .navigation {
    flex-direction: column; /* Make the navigation links stack vertically */
    width: 100%; /* Take full width */
    align-items: center; /* Center align the items */
  }

  .navigation a {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .social-icons img {
    height: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
