@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1% 2%;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  z-index: 1000;
  background-color: transparent !important;
}

.logo img {
  height: 6%;
}

.navigation {
  flex-grow: 1;
  margin-left: 2%;
}

.navigation a {
  margin: 0 2%;
  text-decoration: none;
  color: #003399;
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  cursor: pointer !important;
}

.social-icons {
  display: flex;
  align-items: flex-end;
}

.social-icons a {
  margin: 0 10px;
  color: #003399;
}

.social-icons img {
  height: 3%;
}
