@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Russo+One&display=swap');

.main-section {
  display: flex;
  align-items: center;
  padding: 70px;
  justify-content: center;
}
.main-section {
  height: calc(100vh - 70px); 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  padding: 10px;
  max-width: 530px;
}

.content h2 {
  color: #003399;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.separator {
  border: 0;
  height: 5px;
  background: #003399;
  margin: 10px 0;
}

.content h1 {
  color: #003399;
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.content p {
  color: #1F4496;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.content button {
  background-color: #1F4496;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.image img {
  max-width: 100%;
  height: auto;
}
